@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input.number-input::-webkit-inner-spin-button,
  input.number-input::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
  }

  input.number-input {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
